<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <!-- TODO - 9: Use *ngIf directive to display Albums table heading element if the flag is set to true -->
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO - 1: Use *ngFor directive on the table row element to iterate over the albums -->
          <!-- TODO - 4: Declare a variable which detects if the table row element is on odd position -->
          <!-- TODO - 5: Style the odd table row element with 'gray-table-cell' class -->
          <tr>
            <td>
              <!-- TODO - 2: Display album ID here -->
            </td>
            <!-- TODO - 3: Display album title here -->
            <!-- TODO - 10: Use *ngIf directive to display the current album title if the flag is set to true -->
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 offset-2">
    <!-- TODO - 8: Add on click listener to trigger the toggle flag function defined in the component -->
    <!-- TODO - 9: Change the button text depending on the flag value('Hide Album Titles'/'Show Album Titles') -->
    <button class="btn btn-primary"></button>
  </div>
</div>