<div class="row">
  <div class="col-sm-10 offset-sm-2 form-container">
    <h1>Add image</h1>
    <form [formGroup]="addImageForm" (ngSubmit)="addImage()">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" formControlName="title" name="title">
        <div *ngIf="isSubmitted && addImageForm.controls.title.errors" class="alert alert-danger">
          <span *ngIf="addImageForm.controls.title.errors.required" class="help-block">Title is required.</span>
          <span *ngIf="addImageForm.controls.title.errors.minlength" class="help-block">Title must be minimum 10 characters long.</span>
        </div>
      </div>
      <div class="form-group">
        <label for="url">Url</label>
        <input class="form-control" formControlName="url" name="title">
        <div *ngIf="isSubmitted && addImageForm.controls.url.errors" class="alert alert-danger">
            <span *ngIf="addImageForm.controls.url.errors.required" class="help-block">Url is required.</span>
        </div>     
      </div>
      <button class="btn btn-success" type="submit">Submit</button>   
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-2">
  <div *ngIf="loading" class="spinner-border position-loader" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h2 *ngIf="!images && !loading" class="heading">Select an album to see images!</h2>
      <table *ngIf="images" class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images">
            <td>
              <h3>{{ image.title }}</h3>
            </td>
            <td>
              <img src="{{ image.url }}" alt="Image could not be loaded" class="table-image">
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>