<div class="row">
  <div class="col-sm-8 offset-sm-2">
     <!-- TODO - 5: If there is no selected album show 'Select an album to see images!' message
          otherwise display the table.-->
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO - 6: Use *ngFor to iterate over the filtered images. -->
          <tr>
            <td>
              <!-- TODO - 7: Display the image title. -->
              <h3></h3>
            </td>
            <td>
              <!-- TODO - 8: Pass the image url to the src attribute of the img tag. -->
              <img src="" alt="Image could not be loaded" class="table-image">
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>