<div class="row">
  <div class="col-sm-8 offset-sm-2">
  <div *ngIf="loading" class="spinner-border position-loader" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h2 *ngIf="!images && !loading" class="heading">Select an album to see images!</h2>
     <table *ngIf="images" class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images">
            <td>
              <h3>{{ image.title }}</h3>
            </td>
            <td>
              <img src="{{ image.url }}" alt="Image could not be loaded" class="table-image">
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>