<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th *ngIf="showAlbumTitles">Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of albums;let odd = odd;" [ngClass]="{'gray-table-cell': odd}">
            <td>
              <h3>{{ album.id }}</h3>
            </td>
            <td *ngIf="showAlbumTitles">
              <h3>{{ album.title }}</h3>
            </td>
            <td>
              <button class="btn btn-secondary" (click)="showAlbumImages(album.id)">Show Images</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
 <div class="col-sm-2">
   <button class="btn btn-primary" (click)="toggleAlbumTitles()">{{ showAlbumTitles ? 'Hide' : 'Show'}} Album Titles </button>
 </div>
</div> 